# Ignore everything
*

# Except for the following:
!applib/homescreen.py
!applib/paint.py
!app.py
!readme
!README.md
!.gitignore
!test_assistant.py
!test_google_cal_request.py
!test_stt.py
!test_stt2.py
!test_schedule_assistant.py
!test_list_audiodevices.py
!applib/assistants.py
!rpi_app.py
!applib/stt.py
!requirements.txt
